@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --header-height: 3.5rem;

    /* =================Colores============= */
    --first-color: hsl(220, 68%, 54%);
    --first-color-lighten: hsl(220, 68%, 97%);
    --title-color: hsl(220, 12%, 45%);
    --text-color: hsl(220, 12%, 45%);
    --body-color: hsl(220, 100%, 99%);


    /* Font and Typography */

    --body-font: "Poppins", sans-serif;
    --normal-font-size: .928rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


    /* ==============Font Weight=============== */

    --font-medium: 500;
    --font-semi-bold: 600;

    /* ================Z index ================ */
    --z-tool-tip: 10; 
    --z-fixed: 100; 
    }
    /* ==========Responsive Typography========= */

    @media screen and (min-width: 1024px){
        :root{
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }


    /* ==============BASE========= */
    *{
        box-sizing: border-box; 
        padding: 0;
        margin: 0;

    }

    body{
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        background-color: var(--body-color);
        color: var(--text-color);
    }


    .ulNavHangar{
        list-style: none;

    }

    .aNavHangar{
        text-decoration: none;
    }


    /* ==============Reusable CSS Classes========== */

    .containerNavHangar{
        max-width: 1120px;
        margin-inline: 1.5rem;
    }


    /* ===============Header================= */

    .headerNavHangar{
        position: fixed;
        top: 0;
        left: 0; 
        width: 100%;
        box-shadow:0 2px 8px hsla(220, 68%, 12%, .1);
        background-color: var(--body-color);
        z-index: var(--z-fixed);
    }

    /* ================NAV================= */

    .nav{
        height: var(--header-height);

    }

    .nav__data{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo{
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
        transition: color .3s ;
    }

    .nav__logo i{
        font-size:  1.25rem;
    }

    .nav__logo:hover{
        color: var(--first-color);
    }    

    .nav__toggle{
        position: relative;
        width: 32px;
        height: 32px;

    }

    .nav__toggle-menu,
    .nav__toggle-close{
        font-size: 1.25rem;
        color: var(--title-color);
        display: grid; 
        place-items: center;
        inset:0;  
        cursor: pointer; 
        transition: opacity 0.1s, transform 0.4s;           

    }

    .nav__toggle-close{
        opacity:  0;
    }

    .nav__menu{
        
    }